<div class="Polaris-Page">
  <div class="Polaris-Page__Header Polaris-Page__Header--hasSeparator">
    <div class="Polaris-Page__Title">
      <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Welcome to the Hospital Management System</h1>
    </div>
  </div>
  <div class="Polaris-Page__Content">
      <% unless flash.empty? %>
        <%= render partial: 'partials/banner'%>
      <% end %>

      <%= form_tag do %>
      <div class="Polaris-Card">
        <div class="Polaris-Card__Section">
          <div class="Polaris-FormLayout__Item">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField3Label" for="TextField3" class="Polaris-Label__Text">Username</label></div>
              </div>
              <div class="Polaris-TextField">
                <!--<input id="TextField3" class="Polaris-TextField__Input" aria-labelledby="TextField3Label" aria-invalid="false" value="">-->
                <%= text_field_tag :username, params[:username], class:'Polaris-TextField__Input' %>
                <div class="Polaris-TextField__Backdrop"></div>
              </div>
            </div>
          </div>
          <div class="Polaris-FormLayout__Item">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField4Label" for="TextField4" class="Polaris-Label__Text">Password</label></div>
              </div>
              <div class="Polaris-TextField">
                <!--<input id="TextField4" class="Polaris-TextField__Input" type="email" aria-labelledby="TextField4Label" aria-invalid="false" value="">-->
                <%= password_field_tag :password, params[:password], class:'Polaris-TextField__Input' %>
                <div class="Polaris-TextField__Backdrop"></div>

              </div>
            </div>
          </div>
        </div>
        <div class="Polaris-Card__Footer">
          <div class="Polaris-ButtonGroup">
            <div class="Polaris-ButtonGroup__Item">
              <%= submit_tag 'Login', class: "Polaris-Button Polaris-Button--primary Polaris-Button__Content"%>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
