<%= form_for(patient, url: url) do |form| %>
    <div class="Polaris-Page__Content">

      <%= render partial: "form_errors", locals: {patient: patient } %>

      <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
          <h2 class="Polaris-Heading">Nurse Details</h2>
        </div>
        <div class="Polaris-Card__Section">

          <!-- form!!-->
          <div class="Polaris-FormLayout">

            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField7Label" for="TextField7" class="Polaris-Label__Text">Full Name</label></div>
                </div>
                <div class="Polaris-TextField">
                  <!--<input id="TextField7" class="Polaris-TextField__Input" aria-labelledby="TextField7Label" aria-invalid="false" value placeholder="Jane Doe">-->
                  <%= form.text_field :name, class:"Polaris-TextField__Input", placeholder: "Jane Doe"%>
                  <div class="Polaris-TextField__Backdrop"></div>
                </div>
              </div>
            </div>

            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text">Emergency Contact
                    </label></div>
                </div>
                <div class="Polaris-TextField">
                  <!--<input id="TextField8" class="Polaris-TextField__Input" type="email" aria-labelledby="TextField8Label" aria-invalid="false" value placeholder="jane.doe@gmail.com">-->
                  <%= form.text_field :emergency_contact, class:"Polaris-TextField__Input", placeholder: "Momma Doe"%>
                  <div class="Polaris-TextField__Backdrop"></div>
                </div>
              </div>
            </div>

            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text">Blood Type
                    </label></div>
                </div>
                <div class="Polaris-TextField">
                  <!--<input id="TextField8" class="Polaris-TextField__Input" type="email" aria-labelledby="TextField8Label" aria-invalid="false" value placeholder="jane.doe@gmail.com">-->
                  <%= form.text_field :blood_type, class:"Polaris-TextField__Input", placeholder: "A"%>
                  <div class="Polaris-TextField__Backdrop"></div>
                </div>
              </div>
            </div>

            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField7Label" for="TextField7" class="Polaris-Label__Text">Doctor</label></div>
                </div>
                <%=react_component("doctor_selector", {doctors: @doctor_array})%>
                <%= javascript_pack_tag("application")%>
              </div>
            </div>

            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField7Label" for="TextField7" class="Polaris-Label__Text">Room</label></div>
                </div>
                <%= form.collection_select(:room_id, Room.all, :id, :number)%>
              </div>
            </div>

            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField7Label" for="TextField7" class="Polaris-Label__Text">Admitted On Date</label></div>
                </div>
                <%= form.date_select :admitted_on%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="Polaris-PageActions">
      <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionEqualSpacing">
        <div class="Polaris-Stack__Item">
          <div class="Polaris-ButtonGroup">
            <div class="Polaris-ButtonGroup__Item">
              <button type="button" class="Polaris-Button"><span class="Polaris-Button__Content"><span>Delete</span></span></button>
            </div>
          </div>
        </div>
        <div class="Polaris-Stack__Item">
          <%= form.submit class: "Polaris-Button Polaris-Button--primary Polaris-Button__Content"%>
        </div>
      <% end %>
      </div>
    </div> 

