<%= form_for(patient, url: url) do |form| %>
    <div class="Polaris-Page__Content">

      <%= render partial: "form_errors", locals: {patient: patient } %>

      <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
          <h2 class="Polaris-Heading"><%= t('.heading_html')%></h2>
        </div>
        <div class="Polaris-Card__Section">

          <!-- form!!-->
          <div class="Polaris-FormLayout">

            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField7Label" for="TextField7" class="Polaris-Label__Text"><%=t('.full_name_html')%></label></div>
                </div>
                <div class="Polaris-TextField">
                  <%= form.text_field :name, class:"Polaris-TextField__Input", placeholder: "Jane Doe"%>
                  <div class="Polaris-TextField__Backdrop"></div>
                </div>
              </div>
            </div>

            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text"><%=t('.contact_html')%></label></div>
                </div>
                <div class="Polaris-TextField">
                  <%= form.text_field :emergency_contact, class:"Polaris-TextField__Input", placeholder: "Momma Doe"%>
                  <div class="Polaris-TextField__Backdrop"></div>
                </div>
              </div>
            </div>

            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text"><%= t('.blood_html')%>
                    </label></div>
                </div>
                <div class="Polaris-TextField">
                  <%= form.text_field :blood_type, class:"Polaris-TextField__Input", placeholder: "A"%>
                  <div class="Polaris-TextField__Backdrop"></div>
                </div>
              </div>
            </div>
            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField7Label" for="TextField7" class="Polaris-Label__Text"><%= t('.doctor_html')%></label></div>
                </div>
                <%=react_component("doctor_selector", {doctors: @doctor_array})%>
                <%= javascript_pack_tag("application")%>
              </div>
            </div>

            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField7Label" for="TextField7" class="Polaris-Label__Text"><%= t('.room_html')%></label></div>
                </div>
                <%= form.collection_select(:room_id, Room.all, :id, :number)%>
              </div>
            </div>

            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField7Label" for="TextField7" class="Polaris-Label__Text"><%= t('.admitted_on_html')%></label></div>
                </div>
                <%= form.date_select :admitted_on%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="Polaris-PageActions">
      <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionEqualSpacing">
        <div class="Polaris-Stack__Item">
          <div class="Polaris-ButtonGroup">
          </div>
        </div>
        <div class="Polaris-Stack__Item">
          <%= form.submit t('.create_patient_html'), class: "Polaris-Button Polaris-Button--primary Polaris-Button__Content"%>
        </div>
      <% end %>
      </div>
    </div> 

