<%= form_for [:admin, nurse] do |form| %>
  <div class="Polaris-Page__Content">

    <%= render partial: "form_errors", locals: {nurse: nurse, employee: employee} %>

    <div class="Polaris-Card">
      <div class="Polaris-Card__Header">
        <h2 class="Polaris-Heading">Nurse Details</h2>
      </div>
      <div class="Polaris-Card__Section">
        <div class="Polaris-FormLayout">
          <div class="Polaris-FormLayout__Item">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField7Label" for="TextField7" class="Polaris-Label__Text">Full Name</label></div>
              </div>
              <%= fields_for :employee_record, nurse.employee_record do |employee_record_form| %>
                <div class="Polaris-TextField">
                  <!--<input id="TextField7" class="Polaris-TextField__Input" aria-labelledby="TextField7Label" aria-invalid="false" value placeholder="Jane Doe">-->
                  <%= employee_record_form.text_field :name, class:"Polaris-TextField__Input", placeholder: "Jane Doe"%>
                  <div class="Polaris-TextField__Backdrop"></div>
                </div>
            </div>
          </div>

          <div class="Polaris-FormLayout__Item">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text">Email
                  </label></div>
              </div>
              <div class="Polaris-TextField">
                <!--<input id="TextField8" class="Polaris-TextField__Input" type="email" aria-labelledby="TextField8Label" aria-invalid="false" value placeholder="jane.doe@gmail.com">-->
                <%= employee_record_form.email_field :email, class:"Polaris-TextField__Input", placeholder: "jane.doe@gmail.com"%>
                <div class="Polaris-TextField__Backdrop"></div>
              </div>
            </div>
          </div>

          <div class="Polaris-FormLayout__Item">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text">Salary
                  </label></div>
              </div>
              <div class="Polaris-TextField">
                <!--<input id="TextField8" class="Polaris-TextField__Input" type="email" aria-labelledby="TextField8Label" aria-invalid="false" value placeholder="jane.doe@gmail.com">-->
                <%= employee_record_form.number_field :salary, step: 0.01, id: "TextField8", class:"Polaris-TextField__Input", placeholder: "0.00"%>
              <% end%>
              <div class="Polaris-TextField__Backdrop"></div>
              </div>
            </div>
          </div>

          <div class="Polaris-FormLayout__Item">
            <label class="Polaris-Choice" for="Checkbox7">
              <span class="Polaris-Choice__Control">
                <div class="Polaris-Checkbox">
                  <!--<input id="Checkbox7" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="true">-->
                  <%= form.check_box :night_shift, id: "Checkbox7", class: "Polaris-Checkbox__Input", value: "true"%>

                  <div class="Polaris-Checkbox__Backdrop">
                  </div>
                  <div class="Polaris-Checkbox__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20"><g fill-rule="evenodd"><path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path><path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path></g></svg></span></div></div></span><span class="Polaris-Choice__Label">Night Shift</span></label>
          </div>

          <div class="Polaris-FormLayout__Item">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text">Hours Per Week
                  </label></div>
              </div>
              <div class="Polaris-TextField">
                <!--<input id="TextField8" class="Polaris-TextField__Input" type="email" aria-labelledby="TextField8Label" aria-invalid="false" value placeholder="jane.doe@gmail.com">-->
                <%= form.number_field :hours_per_week, step: 1, id: "TextField8", class:"Polaris-TextField__Input", placeholder: "20"%>
                <div class="Polaris-TextField__Backdrop"></div>
              </div>
            </div>
          </div>

          <div class="Polaris-FormLayout__Item">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField7Label" for="TextField7" class="Polaris-Label__Text">Date of Certification</label></div>
              </div>
              <!--<input id="TextField7" class="Polaris-TextField__Input" aria-labelledby="TextField7Label" aria-invalid="false" value placeholder="Jane Doe">-->
              <%= form.date_select :date_of_certification%>
            </div>
          </div>

          <div class="Polaris-FormLayout__Item">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text">Username
                  </label></div>
              </div>
              <div class="Polaris-TextField">
                <!--<input id="TextField8" class="Polaris-TextField__Input" type="email" aria-labelledby="TextField8Label" aria-invalid="false" value placeholder="jane.doe@gmail.com">-->
                <%= form.text_field :username, class:"Polaris-TextField__Input", placeholder: "janeDoe222"%>
                <div class="Polaris-TextField__Backdrop"></div>
              </div>
            </div>
          </div>

          <div class="Polaris-FormLayout__Item">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text">Password
                  </label></div>
              </div>
              <div class="Polaris-TextField">
                <!--<input id="TextField8" class="Polaris-TextField__Input" type="email" aria-labelledby="TextField8Label" aria-invalid="false" value placeholder="jane.doe@gmail.com">-->
                <%= form.password_field :password, class:"Polaris-TextField__Input", placeholder: "janeDoe222"%>
                <div class="Polaris-TextField__Backdrop"></div>
              </div>
            </div>
          </div>

          <div class="Polaris-FormLayout__Item">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text">Confirm
                  </label></div>
              </div>
              <div class="Polaris-TextField">
                <!--<input id="TextField8" class="Polaris-TextField__Input" type="email" aria-labelledby="TextField8Label" aria-invalid="false" value placeholder="jane.doe@gmail.com">-->
                <%= form.password_field :password_confirmation, class:"Polaris-TextField__Input", placeholder: "janeDoe222"%>
                <div class="Polaris-TextField__Backdrop"></div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="Polaris-PageActions">
    <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionEqualSpacing">
      <div class="Polaris-Stack__Item">
        <div class="Polaris-ButtonGroup">
          <div class="Polaris-ButtonGroup__Item">
            <button type="button" class="Polaris-Button"><span class="Polaris-Button__Content"><span>Delete</span></span></button>
          </div>
        </div>
      </div>
      <div class="Polaris-Stack__Item">
        <%= form.submit class: "Polaris-Button Polaris-Button--primary Polaris-Button__Content"%>
      </div>
    <% end %>
    </div>
  </div>
  </div>
