<h1>List Of Doctors!</h1>

<table>
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%=doctor.employee_record.name%></td>
      <td><%=doctor.employee_record.email%></td>
      <td><%=doctor.employee_record.salary%></td>
      <td><%=doctor.specialty%></td>
      <td><%=doctor.received_license%></td>
    </tr>
  <% end %>
</table>

<h1>The average salary of student doctors!</h1>
<p><%=@studentAvgSal%></p>
