<% cache @nurses do %>
  <% @nurses.each do |nurse| %>
    <%cache nurse do %>
      <div class="Record-Card">
        <div class="Polaris-Card">
          <%=image_tag(nurse.employee_record.gravatar, size: "20x20", alt: "Edit Entry")%>
          <div class="Polaris-Card__Header">
            <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
              <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                <h2 class="Polaris-Heading"><%= nurse.employee_record.name%>: <%= nurse.employee_record.email%></h2>
              </div>
              <div class="Polaris-Stack__Item">
                <div class="Polaris-ButtonGroup">
                  <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">
                    <% if nurse.id == @user_nurse.id %>
                      <a class="Polaris-Button Polaris-Button--plain" href="<%= edit_nurse_url(nurse)%>" data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span>Edit Record</span></span></a>
                    <% end %>
                  </div>
                  <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">
                    <a class="Polaris-Button Polaris-Button--plain" href="<%= nurse_patients_url(nurse)%>" data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span>See Patients</span></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Polaris-Card__Section">
            <% if nurse.night_shift then%>
              Has night shifts
            <% else %>
              Has no night shifts
            <%end%>
            </p>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
<%end%>

