<% cache patients do %>
  <% patients.each do |patient| %>
    <% cache patient do %>
      <div class="Record-Card">
        <div class="Polaris-Card">
          <div class="Polaris-Card__Header">
            <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
              <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                <h2 class="Polaris-Heading"><%= patient.name%>: r.<%= patient.room.number%></h2>
              </div>
              <% unless is_subsection %>
              <div class="Polaris-Stack__Item">
                <div class="Polaris-ButtonGroup">
                  <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain" class="drop-button">
                    <%unless NurseAssignment.where(patient_id: patient, nurse_id: @user_nurse, end_date: nil).empty?%>
                      <%= button_to t('.drop_patient_html'), admin_nurse_assignments_path(patient_id: patient), class: "Polaris-Button Polaris-Button--plain Polaris-Button__Content", remote: true, method: :put %>
                    <%end%>
                  </div>
                  <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">
                    <%= link_to t('.full_details_html'), admin_patient_path(patient), class: "Polaris-Button Polaris-Button--plain Polaris-Button__Content", 'data-polaris-unstyled':"true"%>
                  </div>
                  <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">
                    <%= button_to t('.manage_patient_html'), admin_nurse_assignments_path(patient_id: patient), class: "Polaris-Button Polaris-Button--plain Polaris-Button__Content", 'data-polaris-unstyled':"true", remote: true%>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
          </div>
          <div class="Polaris-Card__Section">
            <p> <%=t('.patient_description1',admitted_on: patient.admitted_on)%><strong><%=distance_of_time_in_words(Time.now, patient.admitted_on)%></strong><%= t('.patient_description2_html', blood: patient.blood_type, doctor: patient.doctor.employee_record.name)%></p>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
<%end%>
