<% cache @rooms do %>
  <% @rooms.each do |room| %>
    <%cache room do %>
      <div class="Record-Card">
        <div class="Polaris-Card">
          <div class="Polaris-Card__Header">
            <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
              <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                <h2 class="Polaris-Heading">#<%= room.number%> on floor <%= room.floor%></h2>
              </div>
              <div class="Polaris-Stack__Item">
                <div class="Polaris-ButtonGroup">
                  <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">
                      <a class="Polaris-Button Polaris-Button--plain" href="<%= edit_room_url(room.id)%>" data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span>Edit Room</span></span></a>
                  </div>
                  <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">
                    <%= link_to 'Delete Room', room_path(room), method: :delete, data: {confirm: 'Are you sure you want to remove this room' }, class: "Polaris-Button Polaris-Button--plain Polaris-Button__Content", 'data-polaris-unstyled':"true"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Polaris-Card__Section">
            <p>In wing <%=room.wing%> 
            <% if room.vip then%>
              and is VIP
            <% else %>
            <%end%>
            </p>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
<%end%>
