<!DOCTYPE html>
<html>
  <head>
    <title>HospitalManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://sdks.shopifycdn.com/polaris/1.14.1/polaris.min.css'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex-container">
      <div class="ghost-div">
      <div class="make-shift-navbar-admin">
        <%= link_to t('.patients'), admin_patients_path, class: "Polaris-Button Polaris-Button__Content", 'data-polaris-unstyled':"true"%>
        <%= link_to t('.nurses'), admin_nurses_path, class: "Polaris-Button Polaris-Button__Content", 'data-polaris-unstyled':"true"%>
        <%= link_to t('.doctors'), admin_doctors_path, class: "Polaris-Button Polaris-Button__Content", 'data-polaris-unstyled':"true"%>
        <%= link_to t('.map'), admin_rooms_path, class: "Polaris-Button Polaris-Button__Content", 'data-polaris-unstyled':"true"%>

        <%= render partial: 'admin/partials/profile', locals: {user: @user_nurse} %>
        <div id="your-patients">
          <%= render_if_have_patients @user_nurse, 'admin/partials/your_patients', {user: @user_nurse}%>
        </div>

        <%= form_tag admin_patients_path, method: :get do %> 
          <div class="Polaris-Select">
            <%= select_tag 'set_locale',
              options_for_select(LANGUAGES, I18n.locale.to_s),
              onchange: 'this.form.submit()',
              class: 'Polaris-Select__Input'%>
            <div class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path></svg></span></div>
            <div class="Polaris-Select__Backdrop"></div>
        </div>
      <% end %>

      <%= link_to t('.logout_html'), logout_url, method: :delete, class: "Polaris-Button Polaris-Button Polaris-Button__Content", 'data-polaris-unstyled':"true"%>
      </div>
      </div>

      <div class="Nurse-Content">
        <div class="Polaris-Page">

          <div class="Polaris-Page__Header Polaris-Page__Header--hasSeparator">
            <div class="Polaris-Page__Title">
              <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge"><%= t(".#{controller.controller_name}")%></h1>
            </div>
            <div class="Polaris-Page__Actions"></div>
          </div>
          <div class="Polaris-Page__Content">
            <div class="Polaris-Layout">

              <% unless flash.empty? %>
                <%= render partial: 'admin/partials/banner'%>
              <% end %>

              <div class="Polaris-Layout__AnnotatedSection">
                <div class="Polaris-Layout__AnnotationWrapper">

                  <main class='<%= controller.controller_name %>'>
                    <%= yield %>
                    </section>
                </div>
              </div>
            </div>
          </div>

          <%= render partial: "admin/partials/buttons", locals: {is_not_subsection: @is_not_subsection}%>

        </div>
      </div>
    </div>
  </body>
</html>
