<!DOCTYPE html>
<html>
  <head>
    <title>HospitalManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://sdks.shopifycdn.com/polaris/1.14.1/polaris.min.css'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex-container">
      <div class="make-shift-navbar">
        <%= link_to t('.patients'), url_for(controller: 'patients', action: 'index'), class: "Polaris-Button Polaris-Button__Content", 'data-polaris-unstyled':"true"%>
        <%= link_to t('.nurses'), url_for(controller: 'nurses', action: 'index'), class: "Polaris-Button Polaris-Button__Content", 'data-polaris-unstyled':"true"%>
        <%= link_to t('.doctors'), nurses_path, class: "Polaris-Button Polaris-Button__Content", 'data-polaris-unstyled':"true"%>
        <%= link_to t('.map'), nurses_path, class: "Polaris-Button Polaris-Button__Content", 'data-polaris-unstyled':"true"%>

        <%= render partial: 'partials/profile', locals: {user: @user_nurse} %>
        <div id="your-patients">
          <%= render_if_have_patients @user_nurse, 'partials/your_patients', {user: @user_nurse}%>
        </div>

         <%= link_to t('.logout_html'), logout_url, method: :delete, class: "Polaris-Button Polaris-Button Polaris-Button__Content", 'data-polaris-unstyled':"true"%>
      </div>

      <div class="Nurse-Content">
        <div class="Polaris-Page">

          <div class="Polaris-Page__Header Polaris-Page__Header--hasSeparator">
            <div class="Polaris-Page__Title">
              <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge"><%= controller.controller_name.capitalize %></h1>
            </div>
            <div class="Polaris-Page__Actions"></div>
          </div>
          <div class="Polaris-Page__Content">
            <div class="Polaris-Layout">

              <% unless flash.empty? %>
                <%= render partial: 'partials/banner'%>
              <% end %>

              <div class="Polaris-Layout__AnnotatedSection">
                <div class="Polaris-Layout__AnnotationWrapper">

                  <main class='<%= controller.controller_name %>'>
                    <%= yield %>
                    </section>
                </div>
              </div>
            </div>
          </div>

          <%= render "partials/buttons"%>

        </div>
      </div>
    </div>
  </body>
</html>
